.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--deep-maroon);
  padding: 1rem 2rem;
  color: var(--cream);
  box-shadow: 0 2px 10px rgba(170, 40, 40, 0.5);
}

.logo {
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: var(--cream);
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  color: var(--cream);
  text-decoration: none;
  font-weight: 500;
  position: relative;
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: var(--blood-red);
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}
