:root {
  --deep-maroon: #380F17;
  --blood-red: #8F0B13;
  --cream: #EFDFC5;
  --charcoal: #252B2B;
  --gunmetal: #4C4F54;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: var(--charcoal);
  color: var(--cream);
}

/* Smooth transitions for theme feel */
* {
  transition: all 0.3s ease-in-out;
}
